.ipynb_checkpoints/
.vscode/
node_modules
package-lock.json
npm-shrinkwrap.json
.elasticbeanstalk/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
